@mixin week_columns {
  $row: 1;
  $col: 1;
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      -ms-grid-column: #{$col};
      grid-column: #{$col};
      grid-row: #{$row};
      -ms-grid-row: #{$row};
      $col: $col + 1;
      @if $i%7 == 0 {
        $row: $row + 1;
        $col: 1;
      }
    }
  }
}
.mep-date-content {
  width: 200px;
  &.with-time {
    width: 310px;
  }
  display: flex;
  position: relative;
  input {
    width: 100%;
    cursor: pointer;
    height: 30px;
    border: 1px solid #dde2eb;
    border-radius: 4px;
    padding-right: 20px;
    outline: none;
    font-size: 13px;
    padding-left: 5px;
  }
  .clear-icon {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 10px;
    width: 12px;
    height: 12px;
    opacity: 0.2;
    &:hover {
      opacity: 0.5;
    }
    &:before,
    &:after {
      position: absolute;
      content: " ";
      height: 12px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  label {
    position: absolute;
    font-size: 11px;
    top: -7px;
    left: 5px;
    height: 12px;
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    letter-spacing: 0.8px;
    background: white;
    padding: 0 5px;
  }

  &.is-error {
    > input {
      border-color: red !important;
    }
    &:after {
      display: flex;
      justify-content: center;
      background: #ffc107;
      border-radius: 5px;
      font-size: 12px;
      padding: 5px;
      width: 100%;
      position: absolute;
      bottom: 35px;
      opacity: 0;
      transition: 0.5s ease-in-out;
      content: attr(data-error-msg);
      cursor: default;
      z-index: 2;
    }
    &:before {
      border: solid;
      border-color: #ffc107 transparent;
      border-width: 12px 6px 0 6px;
      content: "";
      left: 15px;
      bottom: 25px;
      position: absolute;
      opacity: 0;
      transition: 0.5s ease-in-out;
      cursor: default;
      z-index: 2;
    }
    &.is-error:hover {
      &:after,
      &:before {
        opacity: 1;
      }
    }
  }
}
.mep-datepicker {
  .mep-dates,
  .mep-week-name {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 35px 35px 35px 35px 35px 35px 35px;
    grid-template-columns: repeat(7, 35px [col-start]);
    .week-day {
      @include week_columns;
    }
  }
  display: none;
  padding: 0.5rem;
  position: absolute;
  box-shadow: 0px -2px 4px 0px rgb(0 0 0 / 4%), 0px 4px 6px 0px rgb(31 33 38 / 12%);
  border-radius: 5px;
  background: white;
  z-index: 999;
  &.show {
    display: grid;
    display: -ms-grid;
    &.is-range {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    &:not(.is-range) {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  span {
    position: relative;
    font-size: 0.75rem;
    font-weight: 400;
    color: #78909c;
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    padding: 6px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    &.important {
      cursor: pointer;
    }
    &.disabled {
      text-decoration: line-through;
      cursor: not-allowed;
      color: lightgray;
    }
    i {
      border: 5px solid;
      border-bottom-color: transparent;
      border-right-color: transparent;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .mep-current-month {
    display: -ms-grid;
    -ms-grid-columns: 35px 1fr 35px;
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    align-items: center;
    :nth-child(1) {
      -ms-grid-column: 1;
      grid-column: 1;
    }
    :nth-child(2) {
      -ms-grid-column: 2;
      grid-column: 2;
    }
    :nth-child(3) {
      -ms-grid-column: 3;
      grid-column: 3;
    }
    .arrow {
      height: 0;
      width: 0;
      display: inline-block;
      position: absolute;
      top: 16px;
      cursor: pointer;
      border: 6px solid gray;
      &.left {
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
      }
      &.right {
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        margin-left: 22px;
      }
    }
  }
  .time-selection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .time {
      display: flex;
      justify-self: right;
      align-items: center;
      * {
        margin-right: 0.5rem;
        font-weight: bold;
        font-size: 0.75rem;
      }
      select {
        width: 45px;
        color: #78909c;
        height: 25px;
        border: 1px solid #dde2eb;
        border-radius: 3px;
      }
    }
    .time-button {
      padding: 0.5rem 0.5rem 0;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 0.5rem;
    }
  }
}
