@mixin grid_column {
  $row: 1;
  $col: 1;
  @for $i from 1 through 12 {
    &:nth-child(#{$i}) {
      -ms-grid-column: #{$col};
      grid-column: #{$col};
      grid-row: #{$row};
      -ms-grid-row: #{$row};
      margin-top: 15px;
      $col: $col + 1;
      @if $i%3 == 0 {
        $row: $row + 1;
        $col: 1;
      }
    }
  }
}
.mep-listing {
  position: relative;
  .filter {
    display: flex;
    align-items: center;
    position: sticky;
    width: 100%;
    top: 0;
    height: 35px;
    background: white;
    z-index: 1;
    padding: 0 10px;
    flex-direction: row-reverse;
    width: calc(100% + 8px);
    &:empty {
      display: none !important;
    }
    .filter-footer,
    [slot="footer"] {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
      .error-msg {
        background: #ffc107;
        border-radius: 5px;
        font-size: 12px;
        padding: 0.25rem 0.5rem;
        width: 200px;
        transition: 0.5s ease-in-out;
        margin-right: 15px;
        text-align: center;
        opacity: 1;
        &:empty {
          opacity: 0;
        }
      }
    }
    [slot="content"],
    .filter-grid {
      display: grid;
      display: -ms-grid;
      -ms-grid-columns: 215px 215px 200px;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15px;
      .grid-column {
        @include grid_column;
      }
    }
    .table-title {
      width: 100%;
      background: white;
      z-index: 0;
      display: flex;
      flex-direction: row-reverse;
      > div {
        visibility: visible !important;
      }
    }
    .icon-container {
      height: 25px;
      width: 25px;
      cursor: pointer;
      position: relative;
      margin-left: 15px;
      display: flex;
      align-items: center;
      .filter-badge {
        &.applied {
          transform: scale(1);
        }
        &.open {
          transform: scale(0);
        }
        border-radius: 3px;
        height: 12px;
        width: 12px;
        font-size: 10px;
        display: inline-block;
        color: white;
        font-weight: bold;
        transition: 0.5s ease-in-out;
        left: -12px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        box-shadow: 0px -2px 4px 0px rgb(0 0 0 / 4%), 0px 4px 6px 0px rgb(31 33 38 / 12%);
      }
    }
    .filter-icon {
      z-index: 2;
      width: 25px;
      height: 25px;
      display: block;
      box-sizing: border-box;
      &.open {
        span {
          &:nth-child(2) {
            z-index: 2;
            top: 7px;
            transform: rotate(-45deg) scale(1);
          }
          &:nth-child(3) {
            z-index: 2;
            bottom: 16px;
            transform: rotate(45deg) scale(1);
          }
        }
        i {
          transform: scale(0);
        }
      }
      i {
        transform: scale(1);
        transition: 0.5s ease-in-out;
        font-size: 20px;
      }
      span {
        display: block;
        position: absolute;
        height: 2px;
        width: 15px;
        background: #000000;
        border-radius: 2px;
        z-index: 0;
        transition: 0.5s ease-in-out;
        &:nth-child(2) {
          top: 7px;
          transform: rotate(-45deg) scale(0);
        }
        &:nth-child(3) {
          bottom: 16px;
          transform: rotate(45deg) scale(0);
        }
      }
    }
    .mep-filter-content {
      z-index: 1;
      top: 0;
      right: 0;
      position: absolute;
      background-color: white;
      box-shadow: 0px -2px 4px 0px rgb(0 0 0 / 4%), 0px 4px 6px 0px rgb(31 33 38 / 12%);
      border-radius: 5px;
      transform: scale(0, 0);
      transform-origin: top right;
      padding: 20px;
      &.open {
        transform: scale(1, 1);
      }
      transition: 0.5s ease-out;
    }
  }
  .list-container {
    width: 100%;
    background: white;
    overflow: auto;
  }
  table {
    text-align: left;
    display: grid;
    grid-template-rows: 45px;
    overflow: auto;
    height: 100%;
    width: 100%;
    border: 2px solid #dee2e6;
    thead {
      padding: 0 0 0 10px;
      position: sticky;
      top: 0;
      background-color: #ffffff;
      font-weight: bold;
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
      font-size: 13px;
      color: black;
    }
    tbody {
      tr:nth-child(even) {
        background: #f5f5f5;
      }
      tr:nth-child(odd) {
        background-color: white;
      }
      tr {
        padding: 0 0 0 10px;
        height: 45px;
        border-bottom: 1px solid lightgray;
        display: flex;
        align-items: center;
        &:hover {
          background-color: darken(#f5f5f5, 10%);
        }
      }
      .no-data-found {
        background: none !important;
        border: none !important;
        > td {
          position: absolute;
          top: 50%;
          left: 50%;
          background: transparent;
        }
      }
    }
  }
  @media all and (-ms-high-contrast: none) {
    /* IE11 */
    .list-container {
      table {
        height: auto;
        td:first-child,
        th:first-child {
          > div {
            margin-left: 15px;
          }
        }
      }
    }
  }
  .table-cell {
    text-align: start;
    padding: 5px 0;
    height: 35px;
    align-items: center;
    display: flex;
    font-size: 13px;
    color: black;
    margin-right: 15px;
    a,
    i {
      cursor: pointer;
      text-decoration: none;
    }
    &.img {
      align-items: center;
      justify-content: center;
    }
  }
  .table-header {
    text-align: start;
    padding: 14px 0;
    margin-right: 15px;
    display: flex;
  }

  .filter-btn {
    border: none;
    height: 30px;
    width: 125px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: lightgrey 3px 3px 10px;
    font-weight: bold;
  }
  .reset-btn {
    background-color: #ffc150;
    color: #a68b00;
    border: none;
    height: 30px;
    width: 125px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: lightgrey 3px 3px 10px;
    font-weight: bold;
    &:hover {
      background-color: darken(#ffc150, 5%);
    }
  }
  input,
  select {
    height: 30px;
    border: 1px solid #dde2eb;
    border-radius: 4px;
    outline: none;
  }
  .ellipsify-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
